%header
  .header-logo
    %a{:href => "/home/top"} パン屋探索
  %ul.header-menus
    %li
      %a{:href => "/about"} パン屋探索とは
.main.posts-index
  .container
    - @posts.each do |post|
      .posts-index-item
        = post

    